on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        include:
          - elixir: 1.13.x
            otp: 24.x
            check_formatted: true
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: erlef/setup-elixir@v1.14
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Install Dependencies
        run: mix deps.get && mix deps.unlock --check-unused
      - name: Check formatting
        if: matrix.check_formatted
        run: mix format --check-formatted
      - name: Compile project
        run: mix compile --warnings-as-errors
      - name: Run tests
        run: mix test
